D:\OneDrive - Kormányzati Informatikai Fejlesztési Ügynökség\Suli\discord_osztaly_szerver\discord_osztaly_szerver\node_modules
D:\OneDrive - Kormányzati Informatikai Fejlesztési Ügynökség\Suli\discord_osztaly_szerver\discord_osztaly_szerver\config